phpstan.neon export-ignore
composer.lock export-ignore
docker-compose.yml export-ignore
config export-ignore
Makefile export-ignore
.idea/ export-ignore
fix-composer.php export-ignore
phpstan-baseline.neon export-ignore